header img{
    max-height: 50px;
}
header ul{
    margin:0px;
    padding:0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: #c7d8f9;
  }
  
  .logo {
    width: 200px;
    height: 35px;
  }
  
  .nav_buttons {
    margin-right: 50px;
  }
  
  /* Banner */
  .banner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c75f5f;
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* Contact Forms and sidebar */
  /* .content {
    display: flex;
    justify-items: center;
    align-items: center;
  } */
  .contact_us {
    width: 1040px;
  }
  .contact_us_form {
    margin-top: 70px;
  }
  textarea {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 70px;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
  }
  input:focus {
    border: none;
    border-bottom: 1px solid black;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="submit"] {
    width: 150px;
    border: #f13624;
    background: #f13624;
    padding: 7px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* Sidebar */
  .sidebar-content {
    border: 1px solid #c75f5f;
    width: 250px;
    margin-bottom: 30px;
    padding: 25px;
  }
  .p-undeline {
    border-bottom: 3px solid #c75f5f;
    width: fit-content;
  }
  
  /* Footer */
  .footer {
    background-color: #c7d8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
  }
  @media  (width < 200px){
    .logo {
      width: 100px;
      height: 10px;
    }
  }
  
  @media (width < 1400px) {
    .contact_us {
      width: 860px;
    }
  }
  /* @media (width < 1250px) {
    .contact_us {
      width: 860px;
    }
  } */
  @media (width < 1200px) {
    .contact_us {
      width: 680px;
    }
  }
  @media (width < 580px) {
    .contact_us {
      width: 550px;
    }
  }
  @media (width < 550px) {
    .contact_us {
      width: 520px;
    }
  }
  @media (width < 500px) {
    .contact_us {
      width: 450px;
    }
  }
  @media (width < 450px) {
    .contact_us {
      width: 400px;
    }
  }
  @media (width < 400px) {
    .contact_us {
      width: 300px;
    }
  }